body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    color: #000; /* Default text color */
}

header {
    background: #fff;
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

nav ul {
    list-style: none;
    padding: 0; /* Remove default padding */
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

.hero {
    height: 100vh;
    background: url('robotics_background.jpg') no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

footer {
    text-align: center;
    padding: 1rem;
    background: #222;
    color: #fff;
}

/* Targeting all links within the nav element */
nav a {
    color: black; /* Change the text color to black */
    text-decoration: none; /* Removes underline from links */
}

/* Hover effect for links */
nav a:hover {
    color: gray; /* Color changes on hover */
    text-decoration: underline; /* Adds underline on hover for better visibility */
}

/* Use Roboto font family */
.heading-small {
    font-family: 'Roboto', sans-serif; /* Apply the Roboto font style */
    font-size: 20px; /* Set the font size */
    margin: 0; /* Remove default margin */
    font-weight: bold; /* Make the text bold */
    color: black; /* Change the text color to black */
    text-decoration: none; /* Remove underline */
}

.logo-container img {
    display: block; /* Ensure the logo image behaves as a block element */
}
